{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}FAQs | Buniwa Creations{% endblock %}

{% block seo_description %}Frequently asked questions{% endblock %}

{% block content %}

<div class="py-6 mb8" style="background-color:rgb(209, 242, 247)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8 text-center text-lg-left">
                <div class="active">
                    <h1 tabindex="0" class="page-title mb-2">Frequently Asked Questions</h1>
                </div>
            </div>

            <div class="col-lg-4 d-none d-lg-block text-center text-lg-center py-4">
                <img src="static/images/about-left-image.png" alt="" style="max-width: 230px;">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto mb-8">
            <h3 tabindex="0" class="mt-4 mb-0" style="color: green;">Karibu Buniwa Creations Knowledge Base</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item py-4">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      How do I use the Customer Portal?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body bellefair-font text-dark fs-5">The Customer Portal is supposed to help you, our client monitor the process of your projects in real-time. It's also a platform where you can engage with our team members handling your projects. <br> To get started, you need to subscribe to a project, once a username and password is issued, you can use it to login to the customer portal.</div>
                  </div>
                </div>
                <div class="accordion-item py-3">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      How does Buniwa Creations ensure the privacy and security of client information?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body bellefair-font text-dark fs-5">We prioritize the privacy and security of client data. We employ industry-standard security measures, regularly update our systems, and follow strict data protection protocols to safeguard sensitive information.</div>
                  </div>
                </div>

                <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        What is the typical timeline for seeing results from your digital marketing efforts?
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">The timeline for results varies depending on several factors, including the competitiveness of your industry, your existing online presence, and the specific strategies employed. Generally, clients can expect to see noticeable improvements within a few months, with more significant gains over time.</div>
                    </div>
                </div>

                  <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        How does Buniwa Creations keep clients informed about campaign progress and performance?
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">Through our customer portal, We maintain transparent communication with our clients, providing regular reports and updates on campaign progress, key performance indicators (KPIs), and areas of improvement. We value collaboration and ensure clients are well-informed throughout the process.</div>
                    </div>
                </div>

                  <div class="accordion-item py-3">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        What is the process for getting started with Buniwa Creations?
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bellefair-font text-dark fs-5">To get started, simply reach out to us through our website or contact information. We'll schedule an initial consultation to discuss your goals and needs. From there, we'll work together to create a tailored strategy and kick-start your digital marketing journey.</div>
                    </div>
                </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="card" style="background-color: rgb(198, 210, 232);"> 
            <div class="row g-0">
                <div class="col-md-8">
                    <p class="card-title text-dark fs-4 ms-4 mt-3">Ready to get started?</p>
                    <p class="card-text text-dark ms-4 bellefair-font text-dark fs-5">We are dedicated dedicated to driving your 
                        online success. With a passion for innovation and a commitment to excellence, we specialize in two core pillars
                        of the digital realm: Digital Marketing and Digital Content Creation. <br><br> When it comes to Digital Marketing, 
                        We're like the cool uncle who knows all the right SEO best practices, making your brand as visible as a neon sign
                        in the desert. We use SEO keywords like a comedian uses punchlines, ensuring your website gets the attention it deserves. 
                        We don't just create and market; we strategize, analyze, and adapt. Making your online presence as famous as a viral cat video. 
                        We're not here to build websites; we're here to create digital legends. <br><br> Join us in this digital comedy club, and together, we'll 
                        turn your brand into the internet's favorite meme. Get ready for a wild and wacky digital ride!
                    </p>
                </div>
                <div class="col-md-4 col-lg-4" >
                    <img src="static/images/b10.jpg" alt="" class="rounded" style="width: 23rem;">
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<span class="position-fixed p-2 text-white text-center bellefair-font fs-5" style="bottom: 0; left:0; right:0; background-color: darkgreen;">
    Your Tasks management includes more and more, Like free consultations!
</span>
{% endblock %}