{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | Services {% endblock %}

{% block content %}


 <!-- Service Start -->
 <br><br><br><br>
 <div class="container-fluid py-6 d-flex" style="background-image: url('static/images/bgs8.jpg'); background-size: cover;">
    <div class="card text-light fw-bold py-5 ms-5" style="width: 400px; height: 200px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow; ">
        <div class="card-title display-5 mt-3 text-center">Our Services</div>
        <div class="card-body">
            <p class="text-dark text-center py-1">Our Popular Sevices</p>
        </div>
    </div>

    <div class="card mx-auto me-4 mt-5 py-5" style="width: 28rem; background-color: transparent;">
        <img src="static/images/about-left-image.png" alt="...">
    </div>
    
    <br><br><br>
 </div>

 <div class="container-fluid service py-6" id="services" style="background-color: rgb(250, 233, 235); box-shadow: 5px 5px 0 yellow;">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase border border-primary rounded-pill px-4 py-1 mb-3" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">Popular Services</small>
            <h2 class="display-5 mb-5">Outsmart the competition with Digital Marketing Agency</h2>
        </div>
        <!-- <div class="row g-4">
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s" >
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-cog fa-7x text-primary mb-4"></i>
                            <h4 class="mb-3">SEO Optimization</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5">Keyword research and on-page and off-page optimization, ensuring your website ascends search engine rankings.</p>
                            <a href="#seo" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-envelope fa-7x text-primary mb-4"></i>

                            <h4 class="mb-3">Email Marketing</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5">With a data-driven approach, we harness the power of social media platforms, optimizing your social presence.</p>
                            <a href="#email" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-desktop fa-7x text-primary mb-4"></i>
                            <h4 class="mb-3">Web Development</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5" >We design and build SEO-friendly websites improving conversion rates and search visibility.</p>
                            <a href="#web" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.7s">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <i class="fas fa-video fa-7x text-primary mb-4"></i>
                            <h4 class="mb-3">Content Creation</h4>
                            <p class="mb-4 bellefair-font text-dark fs-5">SEO-optimized articles, videos, and visuals that tell your brand's story &rank prominently in search results.</p>
                            <a href="#content" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>


  <div class="container">
    <br><br>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s" >
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-cog fa-7x text-primary mb-4"></i>
                        <h4 class="mb-3">Video Production</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">Our video production team excels at creating SEO-rich videos that captivate audiences, boost engagement, and effectively convey your brand's message, leading to increased online visibility and conversions.</p>
                        <a href="#" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.3s">
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-envelope fa-7x text-primary mb-4"></i>

                        <h4 class="mb-3">Social Media Marketing</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">Utilize our SEO-focused social media strategies to maximize your brand's reach and engagement. We create shareable, SEO-enhanced content, analyze performance data, and optimize campaigns.</p>
                        <a href="#social" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.5s">
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-desktop fa-7x text-primary mb-4"></i>
                        <h4 class="mb-3">Paid Advertising</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">We optimize ad campaigns on Google Ads and social media, ensuring cost-effective targeting. We track metrics, and deliver measurable results to boost your online visibility and reach your target audience effectively.</p>
                        <a href="#" class="btn btn-primary px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.7s">
            <div class="bg-light rounded service-item">
                <div class="service-content d-flex align-items-center justify-content-center p-4">
                    <div class="service-content-icon text-center">
                        <i class="fas fa-video fa-7x text-primary mb-4"></i>
                        <h4 class="mb-3">Geo-Marketing</h4>
                        <p class="mb-4 bellefair-font text-dark fs-5">Using Geographic Information Systems (GIS) and local SEO strategies, to connect your brand with nearby customers, creating hyper-localized campaigns that boost foot traffic and enhance online engagement effectively.</p>
                        <a href="#" class="btn px-4 py-2 rounded-pill" style="background-color: darkgreen; box-shadow: 5px 5px 0 yellow;">More...</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div> -->
<!-- ====================================== -->

<div class="container-fluid py-6" id="webdev">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h3 class="display-3 mb-4">Web Development</h3>
                <!-- <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br> -->
                <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Don't have a website or need to revamp your existing one to improve user experience and conversion rates?  Our web development team designs and builds user-friendly, mobile-responsive websites that are optimized for search engines and conversions. We can also provide ongoing website maintenance and support to ensure your website remains secure and up-to-date.  A well-designed website  (built through our web development services) establishes a strong online presence, improves user experience, and ultimately boosts your website's conversion rate.</p>                        
            </div>
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/web-development-services-company.jpg" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="best-web-development-services-in-kenya-at-a-budget">
            </div>
        </div>
        <a href="https://wa.link/n09dk9" target="_blank" class="btn btn-outline-success ms-auto">I need This</a>
    </div>
</div>
<!-- =========================== -->
<div class="container-fluid py-6" id="smm">
  <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
          <img src="static/images/banner-right-image.png" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="">
      </div>
          <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
              <h3 class="display-3 mb-4">Social Media Marketing</h3>
              <!-- <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br> -->
              <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Unsure how to leverage the power of social media to reach your target audience and build brand awareness?  Our social media experts develop engaging content strategies specific to each platform. We manage your social media presence, create compelling content that resonates with your audience  (a core function of social media marketing), and run targeted social media ads to connect with potential customers and convert followers into loyal fans. This translates to increased brand awareness, improved customer engagement, and a targeted reach to your ideal audience.</p>                        
          </div>
      </div>
      <a href="https://wa.link/vudxgh" target="_blank" class="btn btn-outline-success ms-auto">I need This</a>
  </div>
</div>
<!-- ====================================== -->

<div class="container-fluid py-6" id="social">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h3 class="display-3 mb-4">Email Marketing</h3>
                <!-- <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br> -->
                <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Need a cost-effective way to nurture leads and convert them into loyal customers?  Our team crafts targeted email marketing campaigns tailored specifically to your audience's needs and interests. We design engaging newsletters, promotions, and automated email sequences  (part of our email marketing service) that nurture leads, build brand loyalty, and ultimately drive sales.  This allows you to improve customer engagement, deliver targeted messaging, and measure results through insightful campaign analytics.</p>                        
            </div>
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/car1.jpg" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="email-marketing-services">
            </div>
        </div>
        <a href="https://wa.link/xcj3ic" target="_blank" class="btn btn-outline-success">I need This</a>
    </div>
  </div>

<div class="container-fluid py-6" id="social">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/car1.jpg" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="email-marketing-services">
            </div>
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h3 class="display-3 mb-4">Content Creation</h3>
                <!-- <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br> -->
                <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Craft Compelling Content with Content Creation Services

                    In today's digital age, high-quality content is king. Our content creation experts can help you develop a comprehensive content strategy that informs, engages, and converts your target audience. We offer a variety of content creation services, including: Social Media reels and flyers, blog posts, website copy, email marketing content and case study content.</p>                        
            </div>
           
        </div>
        <a href="https://wa.link/mpw0qg" target="_blank" class="btn btn-outline-success">I need This</a>
    </div>
  </div>
  <!-- =========================== -->

<div class="container-fluid py-6" id="social">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h3 class="display-3 mb-4">Geo-Marketing</h3>
                <!-- <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br> -->
                <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Target Local Customers with Geo-Marketing

                    Looking to attract customers in your specific location, like Nairobi or other Kenyan regions? We leverage geo-targeted marketing strategies to ensure your business shows up in local search results and reaches customers within your designated area. This can include optimizing your Google My Business listing, running location-specific social media ads  (part of our social media marketing service), and incorporating local keywords into your overall SEO strategy. By focusing on geo-marketing, you can increase your local brand awareness, attract more walk-in customers, and dominate your local market share.</p>                        
            </div>
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/car1.jpg" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="geo-marketing-services">
            </div>
        </div>
        <a href="https://wa.link/p99nt7" target="_blank" class="btn btn-outline-success">I need This</a>
    </div>
  </div>
  <!-- =========================== -->
<div class="container-fluid py-6" id="social">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h3 class="display-3 mb-4">Audio/Video Production</h3>
                <!-- <p class="custom" style="font-family: var(--bs-body-font-family)">We are Buniwa Creations!</p><br> -->
                <p class="mb-4 bellefair-font text-dark fs-5" style="border: 1px solid #868585; padding: 15px; border-radius: 10px;">Capture Attention and Engage Your Audience with Audio and Video Production

                    Looking for creative ways to tell your brand story and engage your audience?  Our team of talented audio and video producers can create high-quality explainer videos, product demos, engaging social media videos  (leveraging our video production expertise), and informative podcasts to capture attention, educate your audience, and build brand trust.  By utilizing audio and video production, you can enhance brand storytelling, improve audience engagement, and stand out from the competition in a crowded marketplace.</p>                        
            </div>
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="static/images/car1.jpg" class="img-fluid rounded" style="height: 400px; width: 500px;" alt="audio-and-video-production-services">
            </div>
        </div>
        <a href="https://wa.link/chnawf" target="_blank" class="btn btn-outline-success">I need This</a>
    </div>
  </div>
  <!-- =========================== -->


  <!-- why we are best -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <button class="btn mb-5" style="background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">Buniwa Creations</button>
        <h4 class="fw-bold ">Why we are the best.</h4>
        <div class="card mt-4" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text fw-bold display-6 h3 text-dark">Tailored Solutions for every Client</p>
          </div>
        </div>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-4">
        <!-- First Card -->
        <div class="card mb-3" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow;">
          <div class="card-body">
            <p class="card-text fw-bold display-6 h3 text-dark">Data-Driven Decision-Making</p>
          </div>
        </div>
        
        <!-- Second Card -->
        <div class="card" style="width: 300px; height: 180px; background-color: darkgreen; box-shadow: 4px 4px 0 yellow; ">
          <div class="card-body">
            <p class="card-text fw-bold fs-2 h3 text-dark">Holistic Approach to Digital Success</p>
          </div>
        </div>
      </div>
      
      <!-- Third Column -->
      <div class="col-md-4">
        <!-- Image -->
        <img src="static/images/service1.png" class="img-fluid" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- end -->
<!-- Service End -->



{% endblock %}
